<h1>Track your Foods for the Day</h1>
<%= form_for(@diary) do |f| %>

   <% if @diary.errors.any? %>
        <div id="error_explanation">
            <h2>There were some errors:</h2>
            <ul>
                <% @diary.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <br>

    </br>
    <div class="field">
        <%= f.label :date %>
        <%= f.date_field :date %> 
    </div>

    <br>
    </br>

    <div class="field">
        <%= f.fields_for :diary_entries do |entry| %>
            <%= entry.label :serving_size %>
            <%= entry.number_field :serving_size %>
    </div>
    <% end %>

     <br>
     </br>

    <div class="field">
        <%= f.collection_check_boxes(:food_ids, Food.all, :id, :name) do |b| %>
            <%= b.label %> 
            <%= b.check_box %>
        <% # Will generate a checkbox named diary[food_ids][] for each food in Food.all
            # it will use the :id as the value for the checkbox
            # and it will use the :name method as the label for checkbox 
        %>
    </div>

    <br>
    </br>

    <div class="field">
        <%= f.fields_for :foods do |food| %>
            <%= food.label :name%>
            <%= food.text_field :name %>
            <br></br>
            <%= food.label :calories %>
            <%= food.number_field :calories %>
            <br></br>
            <%= food.label :protein %>
            <%= food.number_field :protein %>
            <br></br>
            <%= food.label :carbohydrates %>
            <%= food.number_field :carbohydrates %>
            <br></br>
            <%= food.label :fats %>
            <%= food.number_field :fats %>
    </div>
    <% end %>

    <br>
    </br>
    <div class="actions" >
        <%= f.submit "Submit" %>
    </div>

<% end %>
