<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>
    <div class="form-group">
        <%= f.label :username %><br>
        <%= f.text_field :username %><br>
        
        <%= f.label :email %><br>
        <%= f.email_field :email %><br>
       
        <%= f.label :password%><br>
        <%= f.password_field :password %><br>

        <%= f.submit "Submit" %>
    </div>
<% end %>

<%= flash[:message] if flash[:message] %>
    

