<h1>Food Database</h1>

<h4><td><%= link_to "Add", new_food_path %></td></h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Calories</th>
      <th scope="col">Protein</th>
      <th scope="col">Carbohydrates</th>
      <th scope="col">Fats</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <tr>
    <td><%= link_to food.name, food %></td>
    </tr>
    <tr>
    <td><%= food.calories %></td>
    </tr>
    <tr>
    <td><%= food.protein %></td>
    </tr>
    <tr>
    <td><%= food.carbohydrates %></td>
    </tr>
    <tr>
    <td><%= food.fats %></td>
    </tr>
    <tr>
    <td><%= link_to "Edit", edit_food_path(food) %></td>
    </tr>
    <% end %>
  </tbody>
</table>