<h1> Food Database </h1>
 
<%= form_for ([@diary, @food]) do |f| %>
    <% if @food.errors.any? %>
    <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
            <% @food.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<br>
    <div class="field" >
    <%= f.label :name %>
    <%= f.text_field :name %>   
    <br></br>
    <%= f.label :calories %>
    <%= f.number_field :calories %>
    <br></br>
    <%= f.label :protein %>
    <%= f.number_field :protein %>
    <br></br>
    <%= f.label :carbohyrdates%>
    <%= f.number_field :carbohydrates %>
    <br></br>
    <%= f.label :fats%>
    <%= f.number_field :fats %>
    <br></br>
    <%= f.submit "Submit" %>
    </div>

<% end %>