<!DOCTYPE html>
<html>
  <head>
    <title>LifeStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <% if logged_in? %>
          <%= link_to "Home", current_user %>
         
          <%= link_to "Log Out", logout_path, method: "delete" %>
      <% else %>
          <%= link_to "Sign Up", signup_path %>
          <%= link_to "Log In", login_path %>
          <%= link_to "Welcome", root_path %>
      <% end %>
    <div>
    
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>


    <%= yield %>
  </body>
</html>
