<!DOCTYPE html>
<html>
  <head>
    <title>LifeStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand">Life Style</h1>
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', user_path(@user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
      <%= link_to 'Login', login_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
      <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
      <%= link_to "Google Login", '/auth/google_oauth2', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>

    
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>


    <%= yield %>
  </body>
</html>
